.top {
  display: flex;
}

.search {
  border: 1px;
  border-radius: 7px;
  background-color: #c7aa7b;
  margin-left: 65px;
  padding: 3px 10px;
  margin-bottom: 20px;
}

.left-section-top {
  background-color: #153333;
}

.top-conv {
  background-color: #41726c;
  width: 100%;
}
